.ColorCell {
  border: none;
  border-radius: 0.625rem;
  padding: 0;
  margin: 0;
  z-index: 4;
  min-width: 2.364375rem;
  min-height: 2.364375rem;
  width: 2.364375rem;
  height: 2.364375rem;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="color"] {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}