/*#notepad {*/
/*    position: relative;*/
/*    width: 800px;*/
/*    height: 600px;*/
/*    margin: auto;*/
/*}*/

#canvas {
    width: 100vw;
    height: 100vh;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

#saveBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}