.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 18px;
}

.sizeInputWrapper{
  display: flex;
  background-color: var(--canvas-color);
  max-width: 10.26125rem;
  border-radius: 1.75rem;
  justify-content: center;
}