.app-theme-dark {
  --canvas-color: #2A2A2B;
  --default-blue: #375891;
  --default-green: #377D5E;
  --default-red: #EB402B;
  --default-black: #000000;
  --selected-border: #FFFFFF;
  --selected-shadow:  rgba(255, 255, 255, 0.5);
  --icon-color: #000000;
  --bg-color: #FFFFFF;
}

