.app-theme-light {
	--canvas-color: #F2F0E7;
	--default-blue: #375891;
	--default-green: #377D5E;
	--default-red: #EB402B;
	--default-black: #000000;
	--selected-border: rgba(0, 0, 0, 0.24);
	--selected-shadow: rgb(87 87 87 / 80%);
	--bg-color: #000000;
	--icon-color: #FFFFFF;
}
