.Wrapper {
    display: flex;
    gap: .1rem;
    align-items: center;
    position: relative;
    max-height: 3.368125rem;
    max-width: 10.26125rem;
}

.select {
    background: var(--canvas-color);
    border: none;
    color: inherit;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 1.75rem;
    cursor: pointer;
    outline: none;
    padding: 0.9375rem 16% 0.9375rem 10%;
    text-align: center;
    letter-spacing: 1px;
    max-width: 10.26125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
    height: auto;
    box-shadow: var(--shadow);
}

.icon{
    position: absolute;
    left: 80%;
    top: 1.1875rem;
}

.option {
    background: var(--canvas-color);
    border: none;
    color: inherit;
    border-radius: .3rem;
}

.readonly {
    opacity: .7;
    pointer-events: none;
    cursor: none;
}
